{
    "host": "{{data.host}}",
    "port": {{data.port}},
    "platform": "android",
    "desiredCapabilities": {
        "realMobile": true,
        "deviceName": "{{data.name}}",
        "browserName": "chrome",
        "chromeOptions": {
            "w3c": false
        },
        "sessionTimeout": 6000,
        "udid": "{{data.id}}"
    }
}