[mobile-manager-{{device.id}}]
url = {{device.appium_endpoint}}
browserName = chrome mobile
platformName = android
udid = {{device.id}}
deviceName = "{{device.name}}"
sessionTimeout = 6000
automationName = UiAutomator2